<table id="rankings">
    <tr>
        <td>Date</td>
        <td>Site</td>
        <td>Keyword</td>
        <td>Market</td>
        <td>Location</td>
        <td>Device</td>
        <td>Google</td>
        <td>Google Bank Rank</td>
        <td>Yahoo</td>
        <td>Bing</td>
        <td>Google Url</td>
        <td>Yahoo Url</td>
        <td>Bing Url</td>
        <td>Advertiser Competition</td>
        <td>Global Monthly Searches</td>
        <td>Regional Monthly Searches</td>
        <td>CDC</td>
        <td>Tags</td>
    </tr>
    <% @rankings.each do |ranking| %>
    <tr>
        <td><%= ranking.search_date %></td>
        <td><%= ranking.search_site %></td>
        <td><%= ranking.search_keyword %></td>
        <td><%= ranking.search_market %></td>
        <td><%= ranking.search_location %></td>
        <td><%= ranking.search_device %></td>
        <td><%= ranking.google %></td>
        <td><%= ranking.google_base_rank %></td>
        <td><%= ranking.yahoo %></td>
        <td><%= ranking.bing %></td>
        <td><%= ranking.google_url %></td>
        <td><%= ranking.yahoo_url %></td>
        <td><%= ranking.bing_url %></td>
        <td><%= ranking.advertiser_competition %></td>
        <td><%= ranking.global_monthly_searches %></td>
        <td><%= ranking.regional_monthly_searches %></td>
        <td><%= ranking.cdc %></td>
        <td><%= ranking.tags %></td>
    </tr>
    <% end %>
</table>

