        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div id="brand" class="brand">Search Ranking</div>
                    </div>
                </div>
            </div>
        </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <table border="0" width="100%">
          <tr>
            <td width="200"><div class="control-group"><label class="control-label"><b>Import Ranking CSV File</b></lable></div></td>
            </td>
            <td><div id="txt" class="control-group">
<%= form_tag import_rankings_path, multipart:true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>
            </td>
          <tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <table border="0" width="100%">
          <tr>
            <td width="200"><div class="control-group"><label class="control-label"><b>Search Date</b></lable></div></td>
            <td><div id="txt" class="control-group">
<%= text_field "ranking", "sdate", "size" => 10, "value" => params[:sdate].to_s %> ~
<%= text_field "ranking", "edate", "size" => 10, "value" => params[:edate].to_s %>
            </td>
          <tr>
          <tr>
            <td width="200"><div class="control-group"><label class="control-label"><b>Search Type</b></lable></div></td>
            <td><div id="txt" class="control-group">
<%= radio_button_tag 'ranking_type', 'raw', !!(params[:ranking_type].to_s == "raw") %> Raw
<%= radio_button_tag 'ranking_type', 'average', !!(params[:ranking_type].to_s == "average") %> Average
<%= radio_button_tag 'ranking_type', 'weighted', !!(params[:ranking_type].to_s == "weighted") %> Weighted
            </td>
          <tr>
        </table>
<script >
    $(function(){
        $("input[name=ranking_type]").change(function(){
            var sdate = document.getElementById("ranking_sdate").value;
            var edate = document.getElementById("ranking_edate").value;
            var root_path = "<%= root_path %>"
            var url = root_path + "?ranking_type=" + $(this).val() + "&sdate=" + sdate + "&edate=" + edate;
            window.location.replace(url);
        });
    });
</script>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="CSSTableGenerator">
    <div id="txt" class="control-group">
    Download:
    <%= link_to "CSV", rankings_path(format: "csv") %> |
    <%= link_to "Excel", rankings_path(format: "xls") %>
    </div>
    <div id="txt" class="control-group">
    <% if params[:ranking_type] == "average" %>
        <%= render "rankings/search_average" %>
    <% elsif params[:ranking_type] == "weighted" %>
        <%= render "rankings/search_weighted" %>
    <% else %>
        <%= render "rankings/search_raw" %>
    <% end %>
    </div>
    <div id="txt" class="control-group">
        <%= will_paginate @rankings %>
    </div>
  </div>
</div>



